{% extends 'layout.html' %}

{% block main %}  
<div id="about" class="container-fluid d-flex flex-column justify-content-evenly gap-3">
    <div id="mission" class="d-flex flex-column about about-text">
        <h1>Mission Statement</h1>
        <p>
            This is what it means to Be a Blossom: a commitment to fun & fundamentals. 
            The coaches believe first and foremost in promoting the joy of water polo. 
            A focus on the fundamentals of the game extends beyond the sport itself to include prioritizing the 
            foundations of a healthy, balanced lifestyle, as well as a commitment to building respectful, 
            inclusive communities in and out of the pool. 
            Our logo, DC’s iconic cherry blossom, embodies these values: a colorful, non-traditional mascot. The 
            Blossom’s smile invites everyone–from beginners to competitive athletes–to tie on a 
            cap, grab a ball, and jump in the water!
        </p>
    </div>
    <div class="d-flex justify-content-center gap-2 about">
            <div class="d-flex flex-column justify-content-center about" style="width: 30vw;">
                <img style="border: solid black;" src="/static/robby.jpg" alt="Coach Robby">
                <h4 style="text-align: center;">Dan Moorin</h4>
            </div>  
            <div class="d-flex flex-column justify-content-center about about-text" style="width: 55vw;">
                <h3>Founder, Head Coach</h3>
                <p>Connecticut native, learned to play in high school, followed by two years of NCAA Division 3 at Connecticut College. Coached with Princeton Water Polo Camp, and is currently Head Coach of Landon School’s varsity team. A graduate of Connecticut College (BA) and Middlebury College (MA), he is a career educator in his fourth year as an English teacher, coach, and mentor at Landon School.</p>
                <p>When he’s not teaching and coaching, Mr. Moorin enjoys reading an entire book in one day, trying new foods, and taking his puppy, Bruno, to the dog park!</p>
            </div>
    </div>
    <div class="d-flex flex-row-reverse justify-content-center gap-2 about">
        <div class="d-flex flex-column justify-content-center about" style="width: 30vw;">
            <img style="border: solid black;" src="/static/robby.jpg" alt="Coach Robby">
            <h4 style="text-align: center;">Heather Olson</h4>
        </div>  
        <div class="d-flex flex-column justify-content-center about about-text" style="width: 55vw;">
            <h3>Founder, Head Coach</h3>
            <p>California Bay Area native, began playing in high school and was a 4-year NCAA Division 3 All-American. Has coached high school school and youth club teams in multiple states, and currently coaches for Whitman High School. Holds a JD and MSW from Michigan State University and works in veterans law.</p>
        </div>
    </div>
    <div class="d-flex justify-content-center gap-2 about">
        <div class="d-flex flex-column justify-content-center about" style="width: 30vw;">
            <img style="border: solid black;" src="/static/robby.jpg" alt="Coach Robby">
            <h4 style="text-align: center;">Robby Zhang</h4>
        </div>  
        <div class="d-flex flex-column justify-content-center about about-text" style="width: 55vw;">
            <h3>Founder, Head Coach</h3>
            <p>Northern California native, played at all competitive levels in the USA Water Polo circuit, including top finishes in the Junior Olympics. Went on to captain and coach the Vanderbilt University Club Team and received 4-year Academic All-American and 2-year All-Conference honors. Helped to launch the first high school water polo program in Nashville, Tennessee. Holds a degree in Civil Engineering.</p>
        </div>
    </div>
</div>
{% endblock %}