{% extends 'layout.html' %}

{% block main %}

<!-- <div class="d-flex flex-column justify-content-evenly"> -->
    <div class="announcement my-3 d-flex flex-column justify-content-center">
        <div class="d-flex flex-column align-self-center justify-content-center">
            <u><h1 style="padding-bottom: 2%;">Register for Spring 2023!</h1></u>
            <h3>Co-ed ages 12-18</h3>
            <h3 style="padding-bottom: 2%;">March 19th - May 7th</h3> 
            <p>1/week Sunday practices at the <a style="color: red; text-decoration: none;" class="hover" href="https://goo.gl/maps/UMbAq5NAZDWwQD8K6">University of Maryland</a></p>
            <i><p>Click the "Account" dropdown and register an account. From there, add an athlete in the manage section and sign them up to a team.</p></i>
        </div>
    </div>
<!-- </div>  -->
<!-- <div class="p-3">  -->
    <div class="announcement my-3 d-flex flex-column justify-content-center">
        <div class="d-flex flex-column justify-content-center">
            <u><h1>Team Store is LIVE!!</h1></u>
            <p>Get your orders in by Feb. 15th to show off that #FlowerPower at practice!</p>
            <div class="d-flex justify-content-evenly" style="overflow: auto;">
            <img class="align-self-center" src="/static/suitb.jpg" width="200" height="160">
            <img class="align-self-center" src="/static/backpack.jpg" width="200" height="160">
            <img class="align-self-center" src="/static/suitg.jpg" width="200" height="160">
            </div>    
        </div>
    </div>
<!-- </div>    -->
<!-- <div class="p-3">    -->
    <div class="announcement my-3 d-flex flex-column justify-content-center">
        <div class="d-flex flex-column align-self-center justify-content-center">
            <u><h1>Landon Summer Camp</h1></u>
            <a href="https://www.landonsummer.com/programs/listofcamps/sportscamps/waterpolo"><img class="py-2" src="https://resources.finalsite.net/images/f_auto,q_auto/v1600868575/landon/rgn7cwjexkhfacvcssuo/LandonSummer_Logo_white_circle_background.png" alt="Landon Summer Camp" width="160" height="160"></a>
            <p>District Blossoms is partnering with the Landon School to host summer water polo camps. Interested? Click the image above.</p>
        </div>
    </div>
<!-- </div> -->
{% endblock %}