{% extends 'layout.html' %}

{% block main %}

<!-- <div class="d-flex flex-column justify-content-evenly"> -->
    <div class="announcement my-3 d-flex flex-column">
        <div class="d-flex flex-column align-self-center m-auto">
            <i><p class="m-auto" style="color: cyan;">The DMV's newest water polo team!</p></i>
            <u><h2 class="mx-auto" style="padding-bottom: 2%;"><a class="link-light" href="/register">Register for Spring 2023!</a></h2></u>
            <h3 class="m-auto">Co-ed ages 12-18</h3>
            <h3 class="mx-auto" style="padding-bottom: 2%;">March 19th - May 7th</h3>
            <p class="mx-auto">Sunday afternoon practices held at the <a style="color: red; text-decoration: none;" class="hover" href="https://goo.gl/maps/UMbAq5NAZDWwQD8K6">University of Maryland</a></p>
            <i><p class="mx-auto" style="width: 70%;">Click the "Account" dropdown and register an account. From there, add an athlete in the manage section and sign them up to a team.</p></i>
        </div>
    </div>
<!-- </div>  -->
<!-- <div class="p-3">  -->
    <div class="announcement my-3 d-flex flex-column">
        <div class="d-flex flex-column m-auto">
            <u><h2 class="m-auto"><a class="link-light" href="https://dbwpcjan2023.itemorder.com/shop/home/">Team Store is LIVE!</a></h2></u>
            <p class="mx-auto">Get your orders in by Feb. 15th to show off that #FlowerPower at practice!</p>
            <div class="d-flex flex-wrap justify-content-evenly gap-3" style="overflow: auto;">
                <img class="align-self-center" src="/static/suitb.jpg" width="200" height="160">
                <img class="align-self-center" src="/static/backpack.jpg" width="200" height="160">
                <img class="align-self-center" src="/static/suitg.jpg" width="200" height="160">
            </div>
        </div>
    </div>
<!-- </div>    -->
<!-- <div class="p-3">    -->
    <div class="announcement my-3 d-flex flex-column">
        <div class="d-flex flex-column align-self-center m-auto">
            <u><h2 class="mx-auto">Landon Summer Camp</h2></u>
            <a href="https://www.landonsummer.com/programs/listofcamps/sportscamps/waterpolo"><img class="py-2 mx-auto" src="https://resources.finalsite.net/images/f_auto,q_auto/v1600868575/landon/rgn7cwjexkhfacvcssuo/LandonSummer_Logo_white_circle_background.png" alt="Landon Summer Camp" width="160" height="160"></a>
            <p class="mx-auto" style="width: 70%;">District Blossoms is partnering with the Landon School to host summer water polo camps. Interested? Click the image above.</p>
        </div>
    </div>
<!-- </div> -->
{% endblock %}