{% extends 'layout.html' %}

{% block main %}

<div class="vh-100">
<div id="confirmModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content modal-dialog-centered">
        <div class="modal-body d-flex flex-column justify-content-center">
            <p>Your password has been successfully reset. Dismiss this message to return to the login page.</p>
        </div>
        <div class="modal-footer">
            <button type="button" id="login" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    const myModal = new bootstrap.Modal(document.getElementById('confirmModal')); // creating modal object
    myModal.show(); // show modal
</script>

<script>
    document.getElementById("login").onclick = function() {
        location.href = "https://www.blossomswaterpolo.com/login";
    };
</script>

{% endblock %}